body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(
        to right,
        rgb(239, 5, 96),
        rgb(45, 39, 230)
    );
}
.increase,
.decrease {
    width: 11em;
}

.reset {
    width: 90px;
}

.btn,
.save {
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    height: 30px;
    letter-spacing: 0.5em;
    padding: 6px;
    background: transparent;
    border: black double;
    color: black;
}

#value {
    font-weight: bold;
    display: block;
}

.container,
header,
footer {
    text-align: center;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

p {
    font-weight: bold;
}
